body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fff1e6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: #c886ff;
  color: #fff1e6;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

#search {
  display: flex;
  align-items: center;
  width: 80%;
  height: 7vh;
  border-radius: 25px;
  background-color: #ece9e7;
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

#search input {
  width: 80%;
  border: none;
  border-radius: 25px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #c886ff00;
}

#search input:focus {
  outline: none;
  background-color: #c886ff20;
}
#search img {
  width: 2rem;
  height: 2rem;
}

#imgContainer {
  width: 80vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

#imgContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

main img {
  width: 80%;
  border-radius: 25px;
}
