@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: serif;
    background-color: #ffefe6;
    text-align: center;
    font-family: "Inter";
}

header {
    background-color: #cc84f4;
    color: #FFF1E6;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    font-size: 24px;
    margin-left: 1em;
}

.sobre {
    color:#FFF1E6;
    text-decoration: none;
    margin-right: 1em;
    font-size: 14px;
}

main {
    margin-top: 100px;
}

h1  {
    text-decoration: none;
    color:#C886FF;
    font-size: 24px;
}

.buttons {
    margin-top: 60px;
}

button {
    background-color: #C886FF;
    color: #FFF1E6;
    border: none;
    border-radius: 10px;
    padding: 15px 30px; 
    margin: 10px;
    font-size: 16px; 
    cursor: pointer;
    font-family: "Inter", sans-serif;
    width: 200px; 
    height: 60px;  
    box-sizing: border-box; 


button:hover {
    opacity: 0.9;
}
