@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  font-family: serif;
  background-color: #ffefe6;
  text-align: center;
  font-family: "Inter";
}

header {
  background-color: #cc84f4;
  color: #fff1e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2em;
}

.marca {
  font-size: 24px;
  margin-left: 1em;
}

.sobre {
  color: #fff1e6;
  text-decoration: none;
  margin-right: 1em;
  font-size: 14px;
}

main {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
  padding: 0 2em;
}

#text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

img {
  width: 37vw;
  border-radius: 25px;
}

h1 {
  text-decoration: none;
  color: #c886ff;
  font-size: 24px;
}

button {
  background-color: #c886ff;
  color: #fff1e6;
  border: none;
  border-radius: 25px;
  padding: 2vh 2vw;
  margin: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.9;
}
