body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #fff1e6;
}

body #description {
  text-align: center;
  color: #c886ff;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 50px;
  column-gap: 150px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 13vw;
  height: 13vw;
  max-width: 10vw;
  max-height: 10vw;
  background-color: #7a7a7ac2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
}

.card.flipped {
  background-color: #ffbcd1;
}

.card.matched {
  background-color: #4caf50;
  color: white;
}

.card img {
  width: 90%;
  height: 90%;
  border-radius: 8px;
}

#shadowWinGame {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.win-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  height: 35vh;
  width: 35vw;
  background-color: #fff1e6;
  border-radius: 25px;
}

.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 30%;
}
.containerButtons button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #c886ff;
  color: #fff1e6;
  width: 80%;
  height: 75%;
  font-weight: bold;
  text-decoration: none;
}

.containerButtons a {
  color: inherit;
  text-decoration: none;
}
