<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>EducaKids</title>
  </head>
  <body>
    <!-- Inside the platform we assume data-index as home page -->
    <app-header data-index="{{ url_for('views.home')}}"></app-header>
    <main>
      <div id="imgContainer">
        <a href="jogos/quem-sou-eu"
          ><img src="/static/images/home/quemSouEu.png" alt=""
        /></a>
        <a href="jogos/jogo-da-memoria"
          ><img src="/static/images/home/memoriaDasEmocoes.png" alt=""
        /></a>
        <a href="jogos/jogo-das-cores"
          ><img src="/static/images/home/jogoDasCores.png" alt=""
        /></a>
        <a href="jogos/vamos-contar"
          ><img src="/static/images/home/VamosContar.png" alt=""
        /></a>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/app-header.js') }}"></script>
  </body>
</html>
