<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <link
      rel="shortcut icon"
      href="/static/images/logo/logo-transparent.ico"
      type="image/x-icon"
    />
    <title>EducaKids</title>
  </head>
  <body>
    <app-header
      data-home="{{ url_for('views.home')}}"
      data-my-account="{{ url_for('views.my_account') }}"
    ></app-header>
    <main>
      <div id="search">
        <img src="/static/images/home/icon-search.png" alt="" />
        <input
          type="text"
          id="search-input"
          name="query"
          placeholder="Buscar..."
          autocomplete="off"
          required
        />
      </div>
      <div id="imgContainer">
        <a href="jogos/quem-sou-eu"
          ><img src="/static/images/home/quem-sou-eu.png" alt=""
        /></a>
        <a href="jogos/jogo-da-memoria"
          ><img src="/static/images/home/memoria-das-emocoes.png" alt=""
        /></a>
        <a href="jogos/jogo-das-cores"
          ><img src="/static/images/home/jogo-das-cores.png" alt=""
        /></a>
        <a href="jogos/vamos-contar"
          ><img src="/static/images/home/vamos-contar.png" alt=""
        /></a>
      </div>
      <div id="imgResult"></div>
    </main>
    <script src="{{ url_for('static', filename='js/app-header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
