<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="/static/images/logo/logo-transparent.ico"
      type="image/x-icon"
    />
    <title>EducaKids</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <app-header
      data-index="{{ url_for('views.index') }}"
      data-login="{{ url_for('views.login') }}"
      data-register="{{ url_for('views.register') }}"
    ></app-header>
    <main>
      <img src="../static/images/index-kid.png" alt="Criança brincando" />
      <div id="text-content">
        <h1>
          Cada criança é um universo de possibilidades <br />
          vamos explorar, brincar e crescer juntos!
        </h1>
        <div class="buttons">
          <a href="/entrar"><button>Entrar</button></a>
          <a href="/cadastro"><button>Criar Conta</button></a>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/app-header.js') }}"></script>
  </body>
</html>
