<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>EducaKids</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <header>
      <div class="marca">EducaKids</div>
      <a href="#" class="sobre">Sobre nós</a>
    </header>

    <main>
      <img src="../static/images/index-kid.png" alt="Criança brincando" />
      <div id="text-content">
        <h1>
          Cada criança é um universo de possibilidades <br />
          vamos explorar, brincar e crescer juntos!
        </h1>
        <div class="buttons">
          <a href="/entrar"><button>Entrar</button></a>
          <a href="/cadastro"><button>Criar Conta</button></a>
        </div>
      </div>
    </main>
  </body>
</html>
