<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar - EducaKids</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
  <main>
    <!-- <form onsubmit="">
      <h1>Entrar</h1>
      <input type="email" name="email" id="email" placeholder="E-mail">
      <input type="password" name="password" id="password" placeholder="Senha">
      <button type="submit">Entrar</button>
    </form> -->
    <p>Em manutenção</p>
  </main>
  <script src="{{ url_for('static', filename='js/login.js' ) }}"></script>
</body>

</html>