<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar - EducaKids</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
</head>

<body>

  <main>
    <form id="login-form">
      <h1>Vamos jogar!</h1>
      <div id="inputs">
        <input type="email" name="email" id="email" placeholder="E-mail">
        <input type="password" name="password" id="password" placeholder="Senha">
      </div>
      <button type="submit">Entrar</button>
    </form>
  </main>
  <script src="{{ url_for('static', filename='js/login.js' ) }}"></script>
</body>

</html>