<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/images/logo/logo-transparent.ico"
      type="image/x-icon"
    />
    <title>Entrar - EducaKids</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css' ) }}"
    />
  </head>
  <body>
    <app-header
      data-index="{{ url_for('views.index') }}"
      data-register="{{ url_for('views.register') }}"
    ></app-header>
    <main>
      <form id="login-form">
        <h1>Vamos jogar!</h1>
        <div id="inputs">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            required
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
            required
          />
        </div>
        <button type="submit">Entrar</button>
      </form>
    </main>
    <script src="{{ url_for('static', filename='js/auth.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/app-header.js') }}"></script>
  </body>
</html>
