<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/memoryGame.css" />
    <link
      rel="shortcut icon"
      href="/static/images/logo/logo-transparent.ico"
      type="image/x-icon"
    />
    <title>Educakids</title>
  </head>
  <body>
    <app-header data-home="{{ url_for('views.home')}}" data-back></app-header>
    <h1 id="description">Quem tá sentindo igual? Vamos encontrar!</h1>
    <div class="game-board" id="gameBoard"></div>
    <div id="shadowWinGame">
      <div class="win-game">
        <h1>Parabéns, você conseguiu!</h1>
        <div class="containerButtons">
          <button class="btn" id="playAgain">Jogar novamente</button>
          <button class="btn" id="exitGame">
            <a href="/inicio">Sair do jogo</a>
          </button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/memoryGame.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app-header.js') }}"></script>
  </body>
</html>
